/* General Styles */
/* Title Styles */

center > h4 {
  color: #00a0d1;
  margin-top: 50px;
}

body {
  margin: 0;
  font-family: Arial;
  background-color: #8A9A5B;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.growing-search-freebie {
  display: block;

  list-style: none;
  margin: 150px auto 0 auto;
  padding: 10px;

}

.growing-search-freebie > li {
display: block;
  max-width: 10px
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 10px;

}

.growing-search-freebie > li:last-child {
  margin-right: 0;
}

.growing-search-freebie > li > span {
  margin-bottom: 10px;
}

.growing-search {
  padding: 5px 5px 5px 7px;
  border-radius: 5px;
  background: #fff;
}

.growing-search div {
  display: inline-block;
  font-size: 12px;
}

.growing-search .input input {
  margin-right: 0;
  border: none;
  font-size: inherit;
  transition: width 200ms;
  padding-top: 5px;
  padding-left: 10px; /* Adjusted padding */
  padding-bottom: 5px;
  width: 100px; /* Adjusted width */
  color: #aaa;
  border-bottom: 1px solid #eee;
}

.growing-search .input input:focus {
  width: 150px;
}

.growing-search .submit button {
  margin-left: 0;
  border: none;
  font-size: 1.15em;
  color: #aaa;
  background-color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: color 200ms;
}

.growing-search .input input:hover,
.growing-search .submit button:hover {
  cursor: pointer;
}

.growing-search .input input:focus,
.growing-search .submit button:focus {
  outline: none;
}

.growing-search .submit button:hover {
  color: #3498db;
}

.add {
  height: 30px;
  width: 90px;
  border-radius: 10px;
  border: none;
  background-color: white;
  margin-top: 5px;
  margin-right: 0px;
}


.title {
  font-size: 36px;
  color: #00a0d1; /* Light blue color */
  text-align: center;
  margin-top: 50px; /* Adjust as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Text shadow for depth */
  animation: pulse 2s infinite alternate; /* Animation effect */
}

@keyframes pulse {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.1);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  margin-bottom: 20px; /* Adjust margin as needed */
}